/* CSS for User Registration Form */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-image: url(bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(9px);
    color: #000;
    border-radius: 12px;
    padding: 30px 40px;
}

.container h1 {
    font-size: 34px;
    text-align: center;
    color:#FFF;
    font-weight: bold;
    font-family: "Arial Black", sans-serif;
    letter-spacing: -1px;
}

.form-group {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.form-group input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.form-group input::placeholder {
    color: #fff;
}

.form-group i {
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}

.form-btn {
    text-align: center;
}

.btn-primary {
    width: 100%;
    height: 45px;
    background: #fff;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.register-link {
    font-size: 16px;
    text-align: center;
    margin: 20px 0 15px;
    color: #fff;
}

.register-link a {
    font-size: 18px; 
    color: #fff !important; 
    text-decoration: none;
    font-weight: 600;
}

.register-link a:hover {
    text-decoration: underline;
}

/* CSS for Login Form */
.login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-size: cover;
        background-image: url(bg1.jpg);
        background-repeat: no-repeat;
        background-position: center;
    }
    

.login-container .container {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(3px);
    color: #000;
    border-radius: 12px;
    padding: 30px 40px;
}

.login-container .container h1 {
    font-size: 34px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    font-family: "Arial Black", sans-serif;
    letter-spacing: -1px;
}

.login-container .form-group {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.login-container .form-group input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.login-container .form-group input::placeholder {
    color: #fff;
}

.login-container .form-btn {
    text-align: center;
}

.login-container .form-btn input {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.login-container .login-link {
    font-size: 18px; 
    color: #fff !important; 
    text-decoration: none;
    font-weight: 600;
}

.login-container .login-link a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

.login-container .login-link a:hover {
    text-decoration: underline;
}

/* CSS for Dashboard */
h1 {
    font-size: 50px;
    color: #FFC436;
    text-align: center;
}

strong {
    color: #FFC436;
}

p {
    margin-top:10px ;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
